

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiologist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <img src="https://www.dashospital.com/myimages/services/cardiology-1.jpg" alt="" width="80%" height="70%">
     <br><br><br><br><br>
    <div class="container">
<div class="row">
            <div class="col-md-6">
                <h4>CARDIOLOGY-DR PALLAVI</h4>
            This Hospital Department is equipped with the most modern equipment. The unit is managed by well qualified and experienced heart surgeons.            <br><br>
            <b>SPECIALISATIONS</b>
<br><br>

All cardiologists in the branch of medicine study the disorders of the heart,<br> but the study of adult and child heart disorders each require different training pathways. Therefore, an adult cardiologist (often simply called "cardiologist") is inadequately trained to take care of children, and pediatric cardiologists are not trained to treat adult heart disease. Surgical aspects are not included in cardiology and are in the domain of cardiothoracic surgery. For example, coronary artery bypass surgery (CABG), cardiopulmonary bypass and valve replacement are surgical procedures performed by surgeons, not cardiologists. However, some minimally invasive procedures such as cardiac catheterization and pacemaker implantation are performed by cardiologists who have additional training in non-surgical interventions (interventional cardiology and electrophysiology respectively)
            </div>
            <div class="col-md-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/D-tga-575px.jpg/220px-D-tga-575px.jpg"width=80%>
            </div>     
</div>
</div>
<footer>
<h4>OUR EXPERIENCED AND DEDICATED SPECIALISTS</h4>
<p>Meet our expert doctors and learn about their unbeatable expertise and excellence in their field.<p>
</footer>
</body>
     </html>
     