<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>senior Heart surger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <img src="https://img.freepik.com/premium-photo/double-exposure-several-surgeons-surrounding-patient-operation-table-during-their-work-doctor-surgeon-holding-heart-health-care-concept_34777-373.jpg" alt="" width="100%"height="500"> 
<br><br><br><br><br>
<div class="container">
    <div class="row">
                <div class="col-md-6">
                    <h3>SENIOR HEART SURGER-DR AK.JAISWAL</h3>
                   <br><br>
                    <b>open heart surgery</b>
                    <br><br><br>
                    Cardiopulmonary bypass was developed after surgeons realized the limitations of hypothermia in cardiac surgery: Complex intracardiac repairs take time, and the patient needs blood 
                    flow to the body (particularly to the brain), as well as heart and lung function. In July 1952, Forest Dodrill was the first to use a mechanical pump in a human to bypass the left side of the heart whilst allowing the patient's lungs to oxygenate the blood, in order to operate on the mitral valve.
                    Coronary Artery Bypass Grafting (CABG)
                    Coronary artery bypass grafting, also called revascularization, is a common surgical procedure to create an alternative path to deliver blood supply to the heart and body, with the goal of preventing clot formation. This can be done in many ways, and the arteries used can be taken from several areas of the body.
                     Arteries are typically harvested from the chest, arm, or wrist and then attached to a portion of the coronary artery, relieving pressure and limiting clotting factors in that area of the heart.
                    
                    <br>The procedure is typically performed because of coronary artery disease (CAD), in which a plaque-like substance builds up in the coronary artery, the main pathway carrying oxygen-rich blood to the heart. This can cause a blockage and/or a rupture, which can lead to a heart attack.
                    
                    Minimally invasive surgery
                    As an alternative to open-heart surgery, which involves a five- to eight-inch incision in the chest wall, a surgeon may perform an endoscopic procedure by making very small incisions through which a camera and specialized tools are inserted.
                    
                    In robot-assisted heart surgery, a machine controlled by a cardiac surgeon is used to perform a procedure. The main advantage to this is the size of the incision required: three small port holes instead of an incision big enough for the surgeon's hands. The use of robotics in heart surgery continues to be evaluated, but early research has shown it to be a safe alternative to traditional techniques.
                </div>
                <div class="col-md-6">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/SurgicalAAA_01_Base_275.jpg"width=80%>
                <br><br><br>
                <img src="https://drlalitmalik.com/wp-content/uploads/2022/02/photo6316576422356954684-2-e1643724369876.jpg"width=100%>
                </div>
    </div>
    <h1>OUR EXPERIENCED AND DEDICATED SPECIALISTS</h1>
Meet our expert doctors and learn about their unbeatable expertise and excellence in their field.

</body>
</html>
